.btn-container {
    display: flex;
}

.btn-container span:first-child {
    margin-right: 1rem;
}

.btn--primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #924d0c;
    padding: 18px 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn--secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(227, 89, 89);
    border-radius: 55%;
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .btn-container{
      display: flex;
      justify-content: center;
      text-align: center;
    }
}